*.o
week1/challenge1-1/rrsim
week1/challenge1-3/rrsim
project-1/rrsim
week2/tas_spinlock
week2/cas_spinlock
week2/lock_free_stack
project-2.1/ticketlock
project-2.2/rwspinlock
week3/challenge3-1
week3/challenge3-2
week3/split
week3/coalesce
project-3/myalloc
week4/challenge4-1
week4/challenge4-2
week4/bitwise
week4/challenge4/a2po
week4/challenge4/po2a
project-4/ptsim
week5/pt
