*.o
week1/challenge1-1/rrsim
week1/challenge1-3/rrsim
project-1/rrsim
week2/tas_spinlock
week2/cas_spinlock
week2/lock_free_stack
project-2.1/ticketlock
project-2.2/rwspinlock
week3/challenge3-1
week3/challenge3-2
week3/split
week3/coalesce
